body {
  background-color: #393e46;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  color: #82CAAF;
  text-shadow: 5px 0 #000;
  margin: 30px;
  padding-top: 30px;
}

h3{
  font-family: 'Indie Flower', cursive;
  color: #82CAAF;
  font-size: 2em;
}
img{
  width: 30%;
  padding-bottom:5%;
}
.container {
  text-align: center;
}

.pie{
font-family: 'Indie Flower', cursive;
color: white;
margin-top:5%;
text-align: center;
}

.reto{
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
}

.normas{
font-family: 'Indie Flower', cursive;
  color: white;
}

button{

}
